.navItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 25px;
    height: 75px;
}

.navItems {
    display: flex;
    flex-direction: row;
}

.spacer {
    width: 25px;
}

.backgroundImage {
    display: flex;
    position: relative;
    width: 100%;
    height: 225px;
    z-index: -1;
    object-fit: cover;
}