---
	import NavBar from '../components/NavBar';
	import ProjectsPage from '../components/pages/ProjectsPage';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>localhost:3000</title>
	</head>
	<body style="background: linear-gradient(0deg, gray, black 40%, gray); margin-left: 0px; margin-right: 0px; margin-top: 0px;">
		<NavBar selectedNavItem="Forecast"></NavBar>
		<ProjectsPage></ProjectsPage>
	</body>
</html>
